[[define "base"]]
<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
    <head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="static/js/controllers.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
        <title>Lorem Ipsum</title>
    </head>
    <body>
    [[template "body" .]]
    </body>
</html>
[[end]]
