[[define "body"]]
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Jetpack</h1>
        <p>
        This is a sample Go/Angular.js application
        </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/phones">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Example</h2>
            <p>
                See an example adapted from the Angular.js Tutorial
            </p>
            <p><a class="btn btn-default" role="button" href="/phones">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

[[end]]
